/**
 * Full-page leads view stylesheet
 * Imports modular CSS components
 */

@import url('styles/variables.css');
@import url('styles/leads-base.css');
@import url('styles/leads-header.css');
@import url('styles/leads-actions.css');
@import url('styles/leads-settings.css');
@import url('styles/leads-status.css');
@import url('styles/leads-cards.css');
@import url('styles/leads-table.css');
@import url('styles/leads-responsive.css');
