/**
 * Popup main stylesheet
 * Imports modular CSS components
 */

@import url('styles/variables.css');
@import url('styles/base.css');
@import url('styles/buttons.css');
@import url('styles/button-colors.css');
@import url('styles/settings.css');
@import url('styles/status.css');
@import url('styles/cards.css');
@import url('styles/table.css');
@import url('styles/responsive.css');
